body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#allcheck {
  width: 30px;
  height: 30px;
}

#input-container {
  padding: 10px;
  border: 2px solid gray;
  display: flex;
  gap: 20px;
  align-items: center;
}

#todo-input {
  font-size: 50px;
  border: none;
}

#todo-input:focus {
  outline: none;
}

#todo-list {
  padding-left: 0;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin: 0;
}

#todo-list>li {
  list-style-type: none;
  font-size: 50px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
}

#todo-list>li>input {
  width: 30px;
  height: 30px;
}

#filters {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  border: 1px solid gray;
}

#counter {
  font-size: 20px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
